<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
        <add key="showFolders" value="true"/>
        <add key="logoPath" value="logo.png"/>
        <add key="position" value="Bottom Left"/>
    </appSettings>
</configuration>